<h3>Carrito</h3>

<table>
    <thead></thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <td>
                {{product.name}}
            </td>
            <td>
                <button type="button" (click)="removeProduct(product)">-</button>
            </td>
        </tr>

        <tr>
            <td>
                Total
            </td>
            <td>
                {{total}}
            </td>
        </tr>


    </tbody>

    
        
    <div *ngIf="!isLogged">
        <app-login (loggedEvent)="loggedEvent($event)" ></app-login>
    </div>
    <div *ngIf="isLogged">
        <button type="button" (click)="confirm()"> Confirm</button>
    </div>
    

    
